body {
  background-color: hsl(0, 0%, 17%);
  color: rgba(255, 255, 255, 0.836);
}

.App {
  display: flex;
}

li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

.selected {
  background-color: rgba(117, 211, 255, 0.267);
}

.Line {
  border-right: 1px solid;
  margin-right: 10px;
}
